### exercice 00

In [2]:
import pandas
import matplotlib
print ("let's go already")

let's go already

### exercice 01

In [6]:
import pandas as pd

df = pd.read_csv('stock.csv')

# Imprimez les 4 premières lignes
print(df.head(4))

# Imprimez les 2 dernières lignes
print(df.tail(2))

         date    open    high     low   close    volume
0  1566576000  137.19  138.35  132.80  133.39  38515386
1  1566835200  134.99  135.56  133.90  135.45  20325271
2  1566921600  136.39  136.72  134.66  135.74  23115635
3  1567008000  134.88  135.76  133.55  135.56  17410828
           date    open    high     low   close    volume
362  1612195200  235.06  242.50  232.43  239.65  33314193
363  1612281600  241.30  242.31  238.69  239.51  25916337

### exercice 01bis

In [7]:
# Affiche le total des lignes
total_lignes = len(df)
print("Total des lignes :", total_lignes)

# Affiche le nom de chaque colonne
noms_colonnes = df.columns.tolist()
print("Noms des colonnes :", noms_colonnes)

# Affiche le nombre de valeurs non nulles dans chaque colonne
valeurs_non_nulles = df.count()
print("Nombre de valeurs non nulles dans chaque colonne :\n", valeurs_non_nulles)

# Affiche le type de valeur dans chaque colonne
types_colonnes = df.dtypes
print("Types de valeur dans chaque colonne :\n", types_colonnes)

Total des lignes : 364
Noms des colonnes : ['date', 'open', 'high', 'low', 'close', 'volume']
Nombre de valeurs non nulles dans chaque colonne :
 date      364
open      364
high      364
low       364
close     364
volume    364
dtype: int64
Types de valeur dans chaque colonne :
 date        int64
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

### exercice 01ter

In [9]:
# Obtenez un résumé statistique des colonnes numériques
resume_statistique = df.describe()

# Imprimez le résumé statistique
print("statistics summary of numerical columns:\n", resume_statistique)

statistics summary of numerical columns:
                date        open        high         low       close  \
count  3.640000e+02  364.000000  364.000000  364.000000  364.000000
mean   1.589411e+09  182.654588  184.780604  180.481016  182.728214
std    1.318049e+07   30.368445   30.716112   30.031516   30.381187
min    1.566576e+09  134.880000  135.560000  132.520000  133.390000
25%    1.578046e+09  152.272500  155.652500  151.117500  153.780000
50%    1.589429e+09  184.100000  185.850000  182.390000  183.670000
75%    1.600812e+09  211.537500  214.122500  208.967500  211.517500
max    1.612282e+09  241.300000  242.640000  238.690000  239.650000

             volume
count  3.640000e+02
mean   3.365621e+07
std    1.616370e+07
min    1.016120e+05
25%    2.305799e+07
50%    2.947899e+07
75%    3.735675e+07
max    9.707356e+07

### exercice 02

In [19]:
df2 = pd.read_csv('penguins.csv')

print(df.iloc[42])

# Affichez la liste des valeurs uniques dans la colonne 'island'
valeurs_uniques_island = df2['island'].unique()
print("\n a list of the unique values contained in the `island` column :\n", valeurs_uniques_island)

date      1.571846e+09
open      1.368800e+02
high      1.374500e+02
low       1.356100e+02
close     1.372400e+02
volume    3.138031e+07
Name: 42, dtype: float64

 a list of the unique values contained in the `island` column :
 ['Torgersen' 'Biscoe' 'Dream' nan]

### exercice 02bis

In [29]:
# Compter le nombre de valeurs uniques dans 'sex' et créer un dictionnaire
dict_sex_count = df2['sex'].value_counts().to_dict()
print("Nombre de valeurs dans 'sex' sous forme de dict :\n", dict_sex_count)

# Trier les valeurs uniques dans 'species' par ordre décroissant
sorted_species = df2['species'].sort_values(ascending=False)
print("\nToutes les valeurs dans 'species' triées par ordre décroissant :\n", sorted_species)

# Accéder aux valeurs aux lignes 3 et 14, dans la première et la dernière colonne
valeurs_lignes_3_et_14 = df2.iloc[[3, 14], [0, -1]]
print("\nValeurs aux lignes 3 et 14, dans la première et la dernière colonne :\n", valeurs_lignes_3_et_14)

# Sélectionner les lignes correspondant à Torgersen et un poids supérieur à 4,5 kg
resultat = df2[(df2['island'] == 'Torgersen') & (df2['body_mass_g'] > 4500)][['sex', 'species']]
print("\nSexe et espèce des manchots de Torgersen pesant plus de 4,5 kg :\n", resultat)

Nombre de valeurs dans 'sex' sous forme de dict :
 {'MALE': 169, 'FEMALE': 165, '.': 1}

Toutes les valeurs dans 'species' triées par ordre décroissant :
 345    Gentoo
266    Gentoo
252    Gentoo
253    Gentoo
254    Gentoo
        ...
101    Adelie
100    Adelie
99     Adelie
0      Adelie
344       NaN
Name: species, Length: 346, dtype: object

Valeurs aux lignes 3 et 14, dans la première et la dernière colonne :
    species   sex
3   Adelie   NaN
14  Adelie  MALE

Sexe et espèce des manchots de Torgersen pesant plus de 4,5 kg :
      sex species
7   MALE  Adelie
81  MALE  Adelie

### exercice 02ter

In [33]:
# Chargez les données du fichier CSV dans un DataFrame
penguins_df = pd.read_csv('penguins.csv')

# Affichez les dimensions du DataFrame avant les modifications
print("Dimensions du DataFrame avant les modifications : ", penguins_df.shape)

# Supprimez les 2 dernières lignes
penguins_df = penguins_df.iloc[:-2]

# Affichez les dimensions du DataFrame après la suppression
print("Dimensions du DataFrame après la suppression : ", penguins_df.shape)

# Ajoutez une colonne 'body_mass_p' pour la masse en livres
penguins_df['body_mass_p'] = penguins_df['body_mass_g'] * 0.00220462

# Affichez les dimensions du DataFrame après l'ajout de la colonne
print("Dimensions du DataFrame après l'ajout de la colonne 'body_mass_p' : ", penguins_df.shape)

# Affichez les 5 premières lignes du DataFrame pour vérification
print("Les 5 premières lignes du DataFrame :\n", penguins_df.head())

Dimensions du DataFrame après la suppression :  (344, 7)
Dimensions du DataFrame après l'ajout de la colonne 'body_mass_p' :  (344, 8)
Les 5 premières lignes du DataFrame :
   species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen              39.1             18.7              181.0
1  Adelie  Torgersen              39.5             17.4              186.0
2  Adelie  Torgersen              40.3             18.0              195.0
3  Adelie  Torgersen               NaN              NaN                NaN
4  Adelie  Torgersen              36.7             19.3              193.0

   body_mass_g     sex  body_mass_p
0       3750.0    MALE     8.267325
1       3800.0  FEMALE     8.377556
2       3250.0  FEMALE     7.165015
3          NaN     NaN          NaN
4       3450.0  FEMALE     7.605939

C:\Users\JadeS\AppData\Local\Temp\ipykernel_19488\3367568009.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins_df['body_mass_p'] = penguins_df['body_mass_g'] * 0.00220462